<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.ibragimov.salatcounter">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">

        <meta-data android:name="AA_DB_NAME" android:value="SalatCounter.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="kz.ibragimov.salatcounter.model.Salat" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="09292f8d74344f04b2fb95c63ef3c31fcafc9e56"
            />
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="kz.ibragimov.salatcounter"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>